---
layout: default
---

<!-- Start Verzhinskaya -->
<div class="verzhinskaya">
    <div id="owl-demo" class="owl-carousel owl-theme">
		{% for header in site.data.headers %}
			<div class="item"><img src="img/headers/{{ header.img }}" alt="{{ header.title }}"></div>
		{% endfor %}
	</div>
</div>
<!-- End Verzhinskaya -->

<!-- Start 3 columns -->
<div class="three-shade-col">
    <div class="col-sm-4" style="background-image: url('{{ site.baseurl }}/img/patterns/60-lines.png');">
		<img src="img/icons/{{ site.three-col1-img }}" class="img-icon" alt="">
        <div class="morethan">{{ site.three-col1-txt }}</div>
    </div>
    <div class="col-sm-4" style="background-image: url('{{ site.baseurl }}/img/patterns/60-lines.png');">
		<img src="img/icons/{{ site.three-col2-img }}" class="img-icon" alt="">
		<div class="morethan">{{ site.three-col2-txt }}</div>
    </div>
    <div class="col-sm-4" style="background-image: url('{{ site.baseurl }}/img/patterns/60-lines.png');">
		<img src="img/icons/{{ site.three-col3-img }}" class="img-icon" alt="">
		<div class="morethan">{{ site.three-col3-txt }}</div>
    </div>
</div>
<!-- End 3 columns -->

<!-- Start About -->
<div id="about" class="about">
    <div class="container-fluid">
        <h2 class="section-title">О нас</h2>
		
		<div class="divider" style=""></div>
		
		<div class="videoclip"><iframe src="{{ site.about-video }}" frameborder="0"></iframe></div>

		{{ site.about-text }}
    </div>
</div>
<!-- End About -->

<!-- Start Events -->
<div id="events" class="events parallax" style="background-image: url('{{ site.baseurl }}/img/patterns/flowers.png');">
    <div class="container-fluid">
        <h2 class="section-title">Мероприятия</h2>

		<div class="divider" style=""></div>
		
        <div class="row">
            {% for event in site.data.events %}
                <div class="col-sm-6 col-md-4">
                    <div class="icon-box">
                        <!-- <svg class="icon {{ event.icon }}"><use xlink:href="#{{ event.icon }}"></use></svg> -->
                        <!--<i class="icon fa {{ event.icon }}" aria-hidden="true"></i>-->
						{% if event.link %}
						{% if event.external %}<a href="{{ event.link }}">
						{% else %}<a href="{{ site.baseurl }}/{{ event.link }}">{% endif %}
						{% endif %}
						<img border="0" src="img/events/{{ event.img }}" alt="{{ event.title }}" class="event-img">
						{% if event.link %}</a>{% endif %}
                        <h4>{{ event.title }}</h4>
                        <p>{{ event.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- End Events -->

<!-- Start Highlights -->
<div id="highlights" class="highlights parallax" style="background-image: url('{{ site.baseurl }}/img/keys.jpg');">
	<div class="overlay-container">
        <div class="overlay"></div>
		<div class="container-fluid">
			<h2 class="section-title">Семь ключевых принципов нашей работы</h2>
			
			<div class="divider-inverted" style=""></div>
			
				<div class="row">
				{% for highlight in site.data.highlights %}
					<div class="col-sm-12 col-md-6">
						<div class="highlight-box">
							<h4>{{ highlight.title }}</h4>
						</div>
					</div>
				{% endfor %}
				</div>
		</div>
	</div>
</div>
<!-- End Highlights -->

<!-- Start Our team -->
<div id="team" class="team" style="background-image: url('{{ site.baseurl }}/img/patterns/60-lines.png');">
    <h2 class="section-title">Наша команда</h2>
	
	<div class="divider-inverted" style=""></div>
	
    <div id="team-carousel">
    {% for member in site.data.team %}
        <div class="expandable-box">
            <div class="expandable-box-top">
                <img src="{{ site.baseurl }}/img/team/{{ member.image }}" alt="{{ member.name }}">
                <h4>{{ member.name }}</h4>
            </div>
            <div class="expandable-box-bottom">
                <a href="mailto:{{ member.email }}" data-toggle="tooltip" data-placement="bottom" title="{{ member.email }}"><svg class="icon icon-envelope"><use xlink:href="#icon-envelope"></use></svg></a>
                </a>
                <a href="tel:{{ member.phone }}" data-toggle="tooltip" data-placement="bottom" title="{{ member.phone }}"><svg class="icon icon-phone"><use xlink:href="#icon-phone"></use></svg></a>
                </a>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
<!-- End Our team -->

<!-- Start Testimonials -->
<div id="testimonials" class="testimonials parallax" style="background-image: url('img/testimonials.jpg');">
    <div class="overlay-container">
        <div class="overlay"></div>
        <div class="container-fluid">
            <div id="testimonial-carousel">
                {% for testimonial in site.data.testimonials %}
                    <div class="testimonial-item">
                        <svg class="icon icon-quote-left"><use xlink:href="#icon-quote-left"></use></svg>
                        <blockquote>
                            <p>{{ testimonial.description }}</p>
                            <footer>
                                {{ testimonial.name }}
                                <small>{{ testimonial.title }}</small>
                            </footer>
                        </blockquote>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- End Testimonials -->

<!-- Start Deals -->
<div id="deals" class="deals" style="background-image: url('{{ site.baseurl }}/img/patterns/60-lines.png');">
	<div class="container-fluid">
		<h2 class="section-title">Акции и предложения</h2>
		
		<div class="divider-inverted" style=""></div>
		
		<div class="deal"><a href="http://svadba-krym.verzhinskaya.ru/"><img src="img/deals/1.jpg" alt="Оригинальная свадьба в Крыму от 33 000 рублей" class="deal-img" border="0"></a></div>
	</div>
</div>
<!-- End Deals -->

<!-- Start Partners -->
<div id="partners" class="partners" style="background-image: url('{{ site.baseurl }}/img/patterns/symphony.png');">
	<div class="container-fluid">
		<h2 class="section-title">Партнёры</h2>
		
		<div class="divider" style=""></div>
		
		<div class="row">
			{% for partner in site.data.partners %}
				<div class="col-sm-6 col-md-4">
					<div class="icon-box">
						<a href="{{ partner.link }}" target="_blank"><img border="0" src="img/partners/{{ partner.img }}" alt="{{ partner.title }}" class="partner-img"></a>
						<!--<h4>{{ partner.title }}</h4>-->
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
<!-- End Partners -->

<!-- Start Contacts -->
<div id="contacts" class="contacts">
	<h2 class="section-title">Связаться с нами</h2>
	
	<div class="divider-inverted" style=""></div>
	
	<form class="form-inline" action="https://getsimpleform.com/messages?form_api_token=5e056e98701d50e637b4c65e57ae4fd7" method="post">
		<div class="form-group">
			<input name="name" type="text" placeholder="Имя" required class="form-control transparent">
		</div>
		<div class="form-group">
			<input name="phone" type="tel" placeholder="Номер телефона" required class="form-control transparent">
		</div>
		<div class="form-group">
			<input type="email" placeholder="Электронная почта" id="email" name="email" class="form-control transparent">
		</div>
		<div class="form-group">
			<textarea name="comments" id="comments" placeholder="Сообщение" required class="form-control transparent" rows="3"></textarea>
		</div>
		<div class="form-group">
			<input type="submit" class="btn btn-danger" value="Отправить">
		</div>
	</form>
</div>
<!-- End Contacts -->