/* ABOUT
-------------------------------------------------*/
.about {
    @extend %space;
    .media {
        margin-bottom: $space;
    }
}

.about-text-1 {
	font-size: 1.7rem;
	color: #333333;
	font-weight: bolder;
}

.about-text-2 {
	font-size: 1.2rem;
	color: #666666;
	font-style: normal;
}

.about-text-3 {
	font-size: 1.2rem;
	ccolor: #666666;
	font-style: normal;
}

.videoclip {
  position: relative;
  width: 90%;
  padding-top: 25px;
  padding-bottom: 56.25%;
  height: 0;
  margin-bottom: 50px;
}

.videoclip iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/*@media (min-width: 450px) {
  .videoclip iframe {
    width: 200px !important;
	height: auto !important;
  }
}
@media (min-width: 700px) {
  .videoclip iframe {
    width: 320px !important;
	height: auto !important;
  }
}
@media (min-width: 900px) {
  .videoclip iframe {
    width: 400px !important;
	height: auto !important;
  }
}
@media (max-width: 449px) {
  .videoclip iframe {
    width: 80% !important;
	height: auto !important;
  }
}*/