/* DELAS
-------------------------------------------------*/
.deals {
    @extend %space;
    background: $colorPrimary;
	background-attachment: fixed;
	h2, h4 {
        color: $white;
    }
    .row {
        @include breakpoint(small) {
            display: flex;
            flex-wrap: wrap;
        }
    }
    [class^="col-"] {
        @include breakpoint(small) {
            display: flex; 
        }
    }
	
	.deal {
		margin: auto;
		width: 100%;
		align: center;
		text-align: center;
	}
	
	.deal-img {
		width: 640px;
		height: auto;
		align: center;
		border-radius: 20px;
	}
	.deal-element {
		width: 700px;
		height: 466px;
		background: url("../img/events/8.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		align: center;
		border-radius: 20px;
		opacity: 0.8;
		filter: alpha(opacity=80); /* For IE8 and earlier */
		color: $colorPrimary;
		font-size: 2em;
		text-align: center;
		padding: 300px 0px;
	}
	.deal-img:hover {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
	}
}