/* EVENTS
-------------------------------------------------*/
.events {
    @extend %space;
    background: $colorBg;
	background-attachment: fixed;
    .row {
        @include breakpoint(small) {
            display: flex;
            flex-wrap: wrap;
        }
    }
    [class^="col-"] {
        @include breakpoint(small) {
            display: flex; 
        }
    }
    .icon {
        font-size: 1.5rem;
        color: $colorPrimary;
    }
	.event-img {
		opacity: 0.8;
		filter: alpha(opacity=80); /* For IE8 and earlier */
	}
	.event-img:hover {
		
	}
}