/* HIGHLIGHTS
-------------------------------------------------*/
.highlights {
    //background: lighten($colorPrimary, 10%);
	background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
	.overlay-container {
        @extend %space;
        position: relative;
        width: 100%;
        height: 100%;
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            background: rgba($colorPrimary, 0.5);
        }
    }
	.container-fluid {
        position: relative;
        z-index: 10;
    }
    .row {
        @include breakpoint(small) {
            display: flex;
            flex-wrap: wrap;
        }
    }
    [class^="col-"] {
        @include breakpoint(small) {
            display: flex; 
        }
    }
    .icon {
        font-size: 1.5rem;
        color: $colorPrimary;
    }
	h2 {
        color: $white;
    }
	.highlight-box {
		width: 100%;
		padding: $space;
		margin-bottom: $space;
		background: url('../img/pattern.png');
		text-align: center;
		border: 0px solid #dedede;
		border-radius: 5px;
		opacity: 0.9;
		filter: alpha(opacity=90); /* For IE8 and earlier */
	}
}