/* ICON STYLE
-------------------------------------------------*/
.icon-box {
    width: 100%;
    padding: $space;
    margin-bottom: $space;
    background: $white;
    text-align: center;
	border-radius: 5px;
}

.icon-box:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

.icon-box:hover .event-img {
	opacity: 1.0;
	filter: alpha(opacity=100); /* For IE8 and earlier */
}

.boxed-icon {
    width: 2.3rem;
    height: 2.3rem;
    padding: 5px 0;
    border: solid 2px $colorPrimary;
    text-align: center;
    .icon {
        color: $colorPrimary;
        font-size: 1.5rem;
    }
}