/* USER
-------------------------------------------------*/

.morethan {
  font-size: 3rem;
  color: $white;
}



.phones {
  padding-top: $space/2;
  padding-left: $space/2;
  color: $colorPrimary;
  @extend %align-left;
  font-size: 1rem;
  vertical-align: middle;
  display: table-cell;
}

.phones .phone {
	display: block;
}

.phone-icon {
	padding-top: $space;
    text-align: center;
    .icon {
        color: $colorPrimary;
        font-size: 2rem;
    }
	display: table-cell;
}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

.phone-left {
	display: inline;
	padding-top: 5px;
}

.phone-body {
	display: inline;
}