/* USER
-------------------------------------------------*/
.phones {
  padding-top: $space/2;
  padding-left: $space/2;
  color: $colorPrimary;
  @extend %align-left;
  font-size: 1rem;
  vertical-align: middle;
  display: table-cell;
}

.phones .phone {
	display: block;
}

.phone-icon {
	padding-top: $space;
    text-align: center;
    .icon {
        color: $colorPrimary;
        font-size: 2rem;
    }
	display: table-cell;
}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
	align: center;
}

.phone-left {
	display: inline;
	padding-top: 5px;
}

.phone-body {
	display: inline;
}

.divider {
	margin:auto;
	align: center;
	width: 70px;
	border-bottom: 7px solid $colorPrimary;
	margin-bottom: $space*5;
}

.divider-inverted {
	margin:auto;
	align: center;
	width: 70px;
	border-bottom: 7px solid $white;
	margin-bottom: $space*5;
}